<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.colearn">
    <!-- 添加振动权限 -->
    <uses-permission android:name="android.permission.VIBRATE" /> <!-- 允许应用在手机屏幕关闭后后台进程仍然运行的权限 -->
    <uses-permission android:name="android.permission.RECEIVE_USER_PRESENT" /> <!-- 接收开机后的广播权限 -->
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" /> <!-- <uses-permission android:name="android.permission.WRITE_MEDIA_STORAGE" /> -->
    <!-- <uses-permission android:name="android.permission.WRITE_SETTINGS" /> -->
    <uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS" />
    <uses-permission android:name="android.permission.MANAGE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.BLUETOOTH" />

    <queries package="${applicationId}">
        <intent>
            <action android:name="android.media.action.IMAGE_CAPTURE" />
        </intent>
        <intent>
            <action android:name="android.media.action.ACTION_VIDEO_CAPTURE" />
        </intent>
    </queries>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:maxAspectRatio="2.4"
        android:resizeableActivity="true"
        android:roundIcon="@mipmap/ic_launcher"
        android:supportsRtl="true"
        android:theme="@style/Theme.CoLearn"
        android:usesCleartextTraffic="true">
        <activity
            android:name=".my.Monitoring"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:screenOrientation="portrait"
            android:exported="false" />
        <activity
            android:name=".home.ChangeWallpaper"
            android:exported="false" />
        <activity
            android:name=".home.MyGarden"
            android:exported="false" />
        <activity
            android:name=".home.BotanicalIllustrations"
            android:exported="false" />
        <activity
            android:name=".home.Planting"
            android:exported="false" />
        <activity
            android:name=".my.DataSynchronize"
            android:exported="false" />
        <activity
            android:name=".my.Login"
            android:exported="false" />
        <activity
            android:name=".my.Register"
            android:exported="false" />
        <activity
            android:name=".my.LoginOrRegister"
            android:exported="false" />
        <activity
            android:name=".my.ChangeNickname"
            android:exported="false" />
        <activity
            android:name=".my.EditHabit"
            android:exported="false" />
        <activity
            android:name=".my.HabitManager"
            android:exported="false" />
        <activity
            android:name=".home.HistoryCheckIn"
            android:exported="false" />
        <activity
            android:name=".home.CheckIn"
            android:exported="false" />

        <meta-data
            android:name="android.max_aspect"
            android:value="2.4" /> <!-- 适配华为（huawei）刘海屏 -->
        <meta-data
            android:name="android.notch_support"
            android:value="true" /> <!-- 适配小米（xiaomi）刘海屏 -->
        <meta-data
            android:name="notch.config"
            android:value="portrait|landscape" />

        <activity
            android:name=".home.ChangeHabitName"
            android:exported="false" />
        <activity
            android:name=".home.ChangeHabitIcon"
            android:exported="false" />
        <activity
            android:name=".home.AddNewEvent"
            android:exported="false" />
        <activity
            android:name=".home.AddEvent"
            android:exported="false" />
        <activity
            android:name=".my.PersonalInformation"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>